.content {
    max-width: 80%;
    margin: auto;
}

.product-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-block img {
    margin: 0;
    width: 350px;
}

.product-block p {
    text-align: left;
    margin: 0;
    max-width: 300px;
}